@page "/add-todo"
@inject TodoService TodoService

@* Old version without syncfusion *@
@* <div class="add-todo-item">
    <h2>Add Todo</h2>
    <hr />
    <div>
        <h3>Todo Title</h3>
        <input type="text" @bind="NewTodoTitle" />
    </div>
    <div>
        <h3>Todo Description</h3>
        <input type="" @bind="NewTodoDescription" />
    </div>
    <div>
        <h3>Todo Due Date</h3>
        <input type="date" @bind="NewTodoDueDate" />
    </div>
    <SfButton Content="Add todo" @onclick="AddTodoItem"> Add </SfButton>
</div> *@

@* New version with syncfusion *@
<div class="add-todo-item">
    <h2>Add Todo</h2>
    <hr />
    <div>
        <h4>Todo Title</h3>
        <SfTextBox Value="@NewTodoTitle" ValueChanged="@((string newValue) => NewTodoTitle = newValue)"></SfTextBox>
    </div>
    <div>
        <h4>Todo Description</h3>
        <SfTextBox Value="@NewTodoDescription" ValueChanged="@((string newValue) => NewTodoDescription = newValue)"></SfTextBox>
    </div>
    <div>
        <h4>Todo Due Date</h3>
        <SfDatePicker Value="@NewTodoDueDate" ValueChanged="@((DateTime newValue) => NewTodoDueDate = newValue)"></SfDatePicker>
    </div>
    <hr />
    <SfButton Content="Add todo" @onclick="AddTodoItem"> Add </SfButton>
</div>

@code {
    public string? NewTodoTitle { get; set; }
    public string? NewTodoDescription { get; set; }
    public DateTime NewTodoDueDate { get; set; } = DateTime.Now;

    public void AddTodoItem()
    {   
        TodoService.Add(new TodoItem
        {
            Title = NewTodoTitle,
            Description = NewTodoDescription,
            DueDate = NewTodoDueDate
        });
        NewTodoTitle = string.Empty;
        NewTodoDescription = string.Empty;
        NewTodoDueDate = DateTime.Now;
    }
}